@font-face {
    font-family: 'Digital7';
    src: url(Resources/fonts/Digital7-rg1mL.ttf);
}

body{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#calculator{
    
    width: 500px;
    height: 620px;
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid rgb(88, 88, 88);
    box-shadow: inset 2px 0px 5px rgb(61, 61, 61),inset 0px 2px 5px rgb(61, 61, 61),inset -2px 0px 5px rgb(61, 61, 61),inset 0px -2px 5px rgb(61, 61, 61), 3px 3px 5px black;
}

#inputButtons{
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;

}

.button{
    box-shadow: inset 2px 0px 5px darkgray,inset 0px 2px 5px darkgray,inset -2px 0px 5px darkgray,inset 0px -2px 5px darkgray;
    width: 120px;
    height: 100px;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;

    &:hover{
        background-color: aliceblue;
    }

    &:active{
        background-color: darkgray;
        box-shadow: inset 10px 0px 10px aliceblue, inset 0px 10px 10px aliceblue, inset -10px 0px 10px aliceblue, inset 0px -10px 10px aliceblue;
        color: greenyellow;
        
    }
}

#displayArea{
    text-align: end;
    justify-self: center;
    font-family: 'Digital7';
    font-size: 50px;
    width: 460px;
    height: 62px;
    background-color: aliceblue;
    border: 3px solid rgb(88, 88, 88);
    border-radius: 2px;
    margin-bottom: 30px;
}

#clearButtonContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -43px;
    gap: 4px;
}

.clearButton{
    color: lightslategrey;
    font-weight: 900;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 2px solid grey;
    box-shadow: 2px 0px 4px rgb(36, 35, 35), 0px 2px 4px rgb(36, 35, 35);

    &:active{
        box-shadow: none;
    }
}

#backSpaceButton{
    position: relative;
    left: 90%;
}